*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
body{
  background: #333;
}
.containerp{
  background: url('images/newsletter.jpg') no-repeat center;
  background-size: cover;
  padding: 100px 40px;
  text-align: center;
  color: black;
}
.containerp p {
  max-width: 600px;
  margin: 40px auto;
  font-size: 20px;
  font-weight: 300;
  background-color: #EBECEB;
}
.email-box{
  height: 40px;
  justify-content: center;
  display: flex; /*its better to use inline-flex*/
}
.email-box i{
  background: #2f3542;
  width: 40px;
  line-height: 40px;
}
.tbox,.btnz{
  border: none;
  outline: none;
}
.tbox{
  width: 0px;
  transition: 0.6s;
}
.email-box:hover > .tbox,.tbox:focus{
  width: 260px;
  padding: 0 10px;
}
.btnz{
  background: #2f3542;
  color: white;
  padding: 0 10px;
  text-transform: uppercase;
  cursor: pointer;
}
